.container{
    width: 100%;
    height: 100%;
}
.body{
    width: 100%;
    max-width: 1240px;
    margin: 5.6em auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imgCard{
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 300px;
    width: 100%;
}
.wrapperContent{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.body-card{
    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.titleActivity{
    font-family: "Montserrat", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 24px;
    font-weight: bold;
}

.titleCard{
    font-family: "Montserrat", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 18px;
    font-weight: bold;
}

.textCard{
    font-family: "Montserrat", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 16px;
}

.content-activity{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px
}


@media only screen and (max-width: 600px) {

    .body{
        max-width: auto;
        width: 100%;
    }
.content-activity{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.titleActivity{
    padding: 4px 8px;
}

}